/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius:20px;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}
.player-score-save {
    width:60px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #920606;
}
#score-0-save{
    position: absolute;
    left: 7%;
    top: 52%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 10px;
}
#score-1-save{
    position: absolute;
    left: 93%;
    top: 52%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 10px;
}
.attack{
    background-color: white;
    width: 100px;
    border-radius: 7px;
}
.attack:hover{
    background-color: #920606;
    color: white;
}
.attack-0{
    position: absolute;
    left: 7%;
    top: 60%;
    background-color: white;
}
.attack-1{
    background-color: white;
    position: absolute;
    left: 93%;
    top: 60%;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    border-radius:10px;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

#dice-1 {
    position: absolute;
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
    height: 80px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}
#dice-2 {
    position: absolute;
    left: 50%;
    top: 260px;
    transform: translateX(-50%);
    height: 80px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }

.btn-options{
    font-size: .9em;
    position: absolute;
    top:10px;
    left:60px;
}
.ion-ios-cog{
    font-size: 25px;
}
.options{
    padding-left: 20px;
    width:200px;
    height:210px;
    margin: 5px;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius:20px;
    position: absolute;
}
input{
    margin:2px auto;
    padding: 5px;
    border-radius: 10px;
    width:90%;
    text-align: center;
}
#player-0-name{
    margin-top:5px;
}
h4{
    color:#EB4D4D;
    margin:7px 0px;
    padding:0px;
    text-align: center;
}
.btn-close{
    font-size: .9em;
    position: absolute;
    bottom: 10px;
}
.ion-ios-close{
    font-size: 25px;
}
#win-score{
    position: absolute;
    top:10px;
    right:10px;
    color:#EB4D4D
}
.ion-ios-help{
    font-size: 25px;
}
.btn-rules{
    font-size: .9em;
    position: absolute;
    bottom: 10px;
}
.rules{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}
.content{
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.3);
    width:80%;
    height:60%;
    margin: 100px auto;
    border-radius: 20px;
}
.btn-close-rules{
    font-size: .9em;
    position: absolute;
    bottom: 155px;
}
h1{
    text-align: center;
    color:#EB4D4D
}
li{
    margin-left:40px;
    padding:2px;
    list-style: none;
}

.hold-0{
    position: absolute;
    left: 7%;
    transform: translateX(-50%);
    height: 80px;
    width:80px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    border:3px #920606 solid;
}
#hold-0-0{
    top: 160px;
}
#hold-0-1{
    top: 260px;
}
#hold-0-2{
    top: 360px;
}
.hold-1{
    position: absolute;
    left: 93%;
    transform: translateX(-50%);
    height: 80px;
    width:80px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    border:3px #920606 solid;
}
#hold-1-0{
    top: 160px; 
}
#hold-1-1{
    top: 260px; 
}
#hold-1-2{
    top: 360px;
}